
<div class="login_page">  

  <h1><%= t('.welcome') %></h1>
  <h1><%= t('.sign_up_log_in_message') %></h1>

  <%= form_for(:user, url: sessions_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <br> 
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label t 'password' %> 
      <br> 
      <%= f.text_field :password %>
    </div>

    <div class="actions">
        <%= f.submit t'.log_in_button' %> <%= t'.or' %> <%= link_to t('.sign_up_button'), signup_path, class: "button_class"  %>
    </div>

  <% end %>
  
</div>
