
<div class="form_block">  

  <div>
    <h3><%= t('.welcome') %></h3>
    <h5><%= t('.sign_up_log_in_message') %></h5>
  </div>

  <%= form_for(:user, url: sessions_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <br> 
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label t 'password' %> 
      <br> 
      <%= f.text_field :password %>
    </div>

    <div class="actions">
        <%= f.submit t'.log_in_button' %> <%= t'.or' %> <%= link_to t('.sign_up_button'), signup_path, class:"link"  %>
    </div>

  <% end %>
  
</div>
