<p id="notice"><%= notice %></p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t'password' %>:</strong>
  <%= @user.password %>
</p>

<p>
  <strong><%= t'fullname' %>:</strong>
  <%= @user.fullname %>
</p>



