
<div class="user_info">
  <strong>email:</strong>
  <%= @user.email %>
  |
  <strong><%= t'fullname' %>:</strong>
  <%= @user.fullname || t('nofullname') %>

  <%= link_to t('Edit'), edit_user_path(@user.id) %>
  <%= link_to t('Logout'), logout_path, method: "delete" %>
</div>

<div> <%= t('my_events') %>
<div class="events_list">
  <table>
    <thead>
      <tr>
        <th><%= t'Title' %></th>
        <th><%= t'Event date' %></th>
        <th><%= t'Repeat' %></th>
      </tr>
    </thead>

    <tbody>
      <% @user.events.each do |event| %>
        <tr>
          <td><%= link_to event.title, edit_event_path(event) %></td>
          <td><%= event.event_date %></td>
          <td><%= event.repeat %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.new_event'), new_event_path %>
  <br>
  <%= link_to t('.all_events'), events_path %>
</div>

