
<h3><%= t('.profile_message') %></h1>

<div>
  <strong>email:</strong>
  <%= @user.email %>
  |
  <strong><%= t'fullname' %>:</strong>
  <%= @user.fullname || t('.nofullname_message') %>

  <%= link_to t('Edit'), edit_user_path(@user.id) %>
  <%= link_to t('Logout'), logout_path, method: "delete" %>
</div>

<br>

<div> <%= t('.my_events_message') %>
<div class="events_list">
  <table>
    <thead>
      <tr>
        <th><%= t'Title' %></th>
        <th><%= t'Event date' %></th>
        <th><%= t'Repeat' %></th>
      </tr>
    </thead>

    <tbody>
      <% @user.events.each do |event| %>
        <tr>
          <td><%= link_to event.title, edit_event_path(event) %></td>
          <td><%= event.event_date %></td>
          <td><%= event.repeat %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.new_event_button'), new_event_path, class:"expanded button" %>
  <%= link_to t('.all_events_button'), events_path, class:"expanded button" %>
</div>

