<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('Title') %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label t('Event date') %>
    <%= f.date_select :event_date, start_year: Date.today.year, end_year: Date.today.year + 20 %>
  </div>

  <div class="field">
    <%= f.label t('Repeat') %>
    <%= f.select :repeat, options_for_select([["every day", 0], ["every week", 1], ["every month", 2], ["every year", 3]]) %>
  </div>

  <div class="actions">
    <%= f.submit t('.accept_button'), class: "expanded button" %>
  </div>
<% end %>
