
<div><%= link_to t('.profile_button'), profile_path %></div>

<h1><%= t('.calendar_of_events_message') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t'Title' %></th>
      <th><%= t'Event date' %></th>
      <th><%= t'Repeat' %></th>
      <th><%= t'Author' %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.event_date %></td>
        <td><%= event.repeat %></td>
        <td><%= event.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_event_button'), new_event_path %>
