
<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Event date</th>
      <th>Repeat</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.event_date %></td>
        <td><%= event.repeat %></td>
        <td><%= event.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
