
<p>
  <strong><%= t'Title' %>:</strong>
  <%= @event.title %>
</p>

<p>
  <strong><%= t'Event date' %>:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong><%= t'Repeat' %>:</strong>
  <%= @event.repeat %>
</p>

<p>
  <strong><%= t'Author' %>:</strong>
  <%= @event.user.email %>
</p>

<%= link_to t('Back'), events_path %>
