
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @event.repeat %>
</p>

<p>
  <strong>Author:</strong>
  <%= @event.user.email %>
</p>

<%= link_to 'Back', events_path %>
